@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    /* colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --very-darkGray: hsl(0, 0%, 41%);
    /* fonts */
    --fontSize: 0.938rem;
    --fontAlata: 'Alata', sans-serif;
    --fontJosefin: 'Josefin Sans', sans-serif;
}